<!DOCTYPE html>
<html>
<head>
<title>Amen Reader</title>
<script type="text/javascript" src="/jquery-1.4.4.min.js"            charset="UTF-8"></script>
<script type="text/javascript" src="/jquery-ui-1.8.10.custom.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/tiny_segmenter-0.1.js"          charset="UTF-8"></script>
<script type="text/javascript" src="/splitter.js"                    charset="UTF-8"></script>
<script type="text/javascript" src="/wavfile.js"                     charset="UTF-8"></script>
<script type="text/javascript" src="/player.js"                      charset="UTF-8"></script>
<!--<link rel="stylesheet" type="text/css" href="/jquery-ui-1.8.10.custom.css" media="all">-->
</head>
<body style="height:100%">
<div id="control"><p id="button">▶</p></div>
<div id="slider"></div>
<center>
<div id="output"></div>
</center>
<script>
$(function() {
	var play = "▶"
	var pause = "||"
	var player = new Player($("#output"))
	player.load({audio: "/amen_lq.wav", text:"<%= @url %>"})

	player.onload = function(json) {
		document.title = [json.author, " ", json.title, " - ", document.title].join("")
		player.render()
		$("#slider").slider({
			slide : function(event, ui) {
				player.offset = Math.floor(ui.value/100 * player.page.length)
				player.render()
			}
		})
		$("#button").click(function() {
			if (player.paused) {
				player.paused = false
				player.play()
				$("#button").html(pause)
			} else {
				player.paused = true
				$("#button").html(play)
			}
		})
	}
	player.onupdate = function() {
		$("#slider").slider("value", player.offset / player.page.length * 100)
	}
	player.onended = function() {
		$("#button").html(play)
	}
})
</script>
</body>
</html>
