<html>
<head>
<title>Amen Reader</title>
<script type="text/javascript" src="/jquery-1.4.4.min.js"            charset="UTF-8"></script>
<script type="text/javascript" src="/jquery-ui-1.8.10.custom.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/tiny_segmenter-0.1.js"          charset="UTF-8"></script>
<script type="text/javascript" src="/splitter.js"                    charset="UTF-8"></script>
<script type="text/javascript" src="/wavfile.js"                     charset="UTF-8"></script>
<script type="text/javascript" src="/player.js"                      charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="/jquery-ui-1.8.10.custom.css" media="all">
<style>
#control {
	right: 5px;
	left: 5px;
	bottom: 5px;
	line-height: 100%;
	vertical-align: baseline;
	border: 1px dotted #444;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: medium;
	font-stretch: normal;
	font-variant: normal;
	font-size-adjust: none;
	letter-spacing: normal;
	background: none;
	text-align: left;
	position: fixed;
	margin: 0;
	padding: 20px;
	background-image: none;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	opacity:0.8;
	z-index:999;
	background-color:#333333;
}
#button {
	float:left;
	width:100px;
	font-size:150px;
}
#slider {
	margin-left: 10px;
	float:left;
	width: 90%;
}
#output {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
</style>
</head>
<body style="height:100%">
<div id="control">
    <div id="button"></div>
    <div id="slider"></div>
</div>
<div id="output"></div>
<script>
function button(type, size, style) {
	var button = document.createElement('canvas')
	button.width = button.height = size
	var cxt = button.getContext("2d")
	cxt.fillStyle = style
	if(type == "pause") {
		cxt.fillRect(size*0.1, 0, size*0.2, size)
		cxt.fillRect(size*0.6, 0, size*0.2, size)
	} else {
		cxt.beginPath()
		cxt.moveTo(size*0.0, size*0.0)
		cxt.lineTo(size*0.0, size)
		cxt.lineTo(size, size*0.5)
		cxt.closePath()
		cxt.fill()
	}
	return button
}

var timerId = null
var playButton = button("play", 90, "white")
var pauseButton = button("pause", 90, "white")

var player = new Player($("#output"), {
	onload : function(json) {
		document.title = [json.author, " ", json.title, " - ", document.title].join("")
		player.render()
	},
	onupdate : function() {
		$("#slider").slider("value", player.offset / player.page.length * 100)
	},
	onended : function() {
		$("#button").empty().append(playButton)
	}
})
player.load({audio: "/amen_lq.wav", text:"<%= @url %>"})

$("#slider").slider({
	slide : function(event, ui) {
		player.offset = Math.floor(ui.value/100 * player.page.length)
		player.render()
	}
})
$("#button").append(playButton).click(function() {
	if (player.paused) {
		player.play()
		$("#button").empty().append(pauseButton)
	} else {
		player.pause()
		$("#button").empty().append(playButton)
	}
})
$("#control").hover(
	function() {
		clearTimeout(timerId)
		$("#control").fadeTo("fast", 0.8)
	},
	function() {
		timerId = setTimeout(function() {
			$("#control").fadeTo("fast", 0)
		}, 400)
	}
)
</script>
</body>
</html>
